<style>
/* Set color style to inherit */
.inherit-color * {
    color: inherit;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
    outline: 0.125rem solid #4d65ff;
    outline-offset: 0.125rem;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext> :not(div):first-child,
.w-richtext>div:first-child> :first-child {
    margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
    margin-bottom: 0 !important;
}

/* Prevent all click and hover interaction with an element */
.pointer-events-off {
    pointer-events: none;
}

/* Enables all click and hover interaction with an element */
.pointer-events-on {
    pointer-events: auto;
}

/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* Make sure containers never lose their center alignment */
.container-medium,
.container-small,
.container-large {
    margin-right: auto !important;
    margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
color: inherit;
text-decoration: inherit;
font-size: inherit;
}
*/

/* Apply "..." after 3 lines of text */
.text-style-3lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Adds inline flex display */
.display-inlineflex {
    display: inline-flex;
}

/* These classes are never overwritten */
.hide {
    display: none !important;
}

@media screen and (max-width: 991px) {

    .hide,
    .hide-tablet {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .hide-mobile-landscape {
        display: none !important;
    }
}

@media screen and (max-width: 479px) {
    .hide-mobile {
        display: none !important;
    }
}

.margin-0 {
    margin: 0rem !important;
}

.padding-0 {
    padding: 0rem !important;
}

.spacing-clean {
    padding: 0rem !important;
    margin: 0rem !important;
}

.margin-top {
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
}

.padding-top {
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}

.margin-right {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
}

.padding-right {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}

.margin-bottom {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.padding-bottom {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

.margin-left {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
}

.padding-left {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
}

.margin-horizontal {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.padding-horizontal {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.margin-vertical {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.padding-vertical {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

/* Apply "..." at 100% width */
.truncate-width {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Removes native scrollbar */
.no-scrollbar {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
</style>
</div>
<div class="css w-embed">
<style>
html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

body {
    font-size: 1.25vw;
}

/* Max Font Size */
@media screen and (min-width:1920px) {
    body {
        font-size: 24px;
    }
}

/* Container Max Width */
.container {
    max-width: 1920px;
}


.about_component {
    overflow-x: hidden;
}

.custom-cursor_wrap {
    width: calc(100vw - 47.5em);
}

.project_image:first-child,
.project_image:nth-child(4) {
    grid-column: span 2;
}

.navbar_link:has(.navbar_link-shape.is-active) {
    color: var(--color-brand--white);
}

@media screen and not (hover:hover) {
    a:focus {
        outline: none;
    }
}

@media screen and (hover:hover) {
    .button:hover {
        color: var(--color-brand--white);
        background: var(--color-brand--black);
    }

    .button.is-alternate:hover {
        color: var(--color-brand--black);
        background: var(--color-brand--white);
    }


    .header_projects-list-link:before,
    .project_stats-link:before,
    .footer_link:before,
    .about_link:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -1px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
        background: currentcolor;
    }

    .project_stats-link:before {
        background: currentcolor;
    }

    .header_projects-list-link:hover:before,
    .project_stats-link:hover:before,
    .footer_link:hover:before,
    .about_link:hover:before {
        transform-origin: left;
        transform: scaleX(1);
    }

    .header_projects-list-link:hover .icon-arrow {
        transform: translateX(0%);
        opacity: 1;
    }

}


@media screen and (min-width: 992px) {
    .header_projects-list-link .icon-arrow {
        transition: transform .4s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity .35s ease;
        transform: translateX(-120%);
        opacity: 0;
    }
}


@media screen and (max-width: 340px) {
    .navbar_link {
        padding: 0.25rem 0.5rem;
    }
}


.footer_to-top-btn:hover .footer_to-top-btn-icon {
    animation: moveArrowVertical .65s cubic-bezier(0.645, 0.045, 0.045, 1.005);
}

.marquee_list {
    white-space: nowrap;
    will-change: transform;
    animation: marquee-horizontal 35s linear infinite;
}

@keyframes moveLineLink {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100%);
    }

    50.1% {
        transform: translateX(-100%);
    }
}

@keyframes moveArrowVertical {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-200%);
    }

    50.1% {
        transform: translateY(200%);
    }
}

@keyframes marquee-horizontal {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 2rem));
    }
}

video {
    width: 100%;
    border-radius: 0.5em;
}

@media screen and (max-width: 991px) {
    video {
        border-radius: 0.5rem;
    }
}

.swiper-slide video {
    aspect-ratio: 4/3;
}
</style>